.main-game-container {
    display: flex;
    gap: 20px;
    margin-top: 5rem;
    margin-left: 5rem;
    width: 100%;
}

.block_left_info {
    flex: 3;
    overflow: auto;

}

.game-cards-wrapper {
    width: 100%;
}

.game-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.game-card {
    overflow: hidden;
    margin: 5px 5px 10px;
}

.game-card img {
    width: 90%;
    height: auto;
    display: block;
    border-radius: 15px;

}

.block_right_info {
    flex: 1;
    margin-right: 10rem;
}

.filter-sidebar {
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.search-input {
    width: 100%;
    padding: 20px 40px 20px 20px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    pointer-events: none;
}

.providers, .game-groups, .sorting, .columns, .game-amount {
    margin-bottom: 20px;
}

.provider-list, .group-list, .sort-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.provider, .group, .sort-option {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.provider.active, .group.active, .sort-option.active {
    background-color: #FDBC11;
}

.search-input::placeholder {
    font-size: 16px;
}

.range-slider-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.column-slider {
    width: 100%;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: -25px;
}

.label {
    font-size: 12px;
}

.reset-button {
    padding: 10px;
    border: none;
    background: white;
    cursor: pointer;
    color: #808080;
    font-size: 16px;
    transition: all 0.3s ease;

}

p {
    color: #808080;
}

.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range-slider-container {
    position: relative;
    width: 300px;
}

.column-slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #f1c40f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.column-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #e67e22;
    cursor: pointer;
    border-radius: 50%;
}

.column-slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #e67e22;
    cursor: pointer;
    border-radius: 50%;
}

.labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: -25px;
    pointer-events: none;
}

.view-filter.show {
    display: block;
}

.label {
    font-size: 14px;
    position: absolute;
    width: 24px;
    text-align: center;
    transform: translateX(-50%);
}

.reset-button:hover {
    color: black;
}

.toggle-button {
    display: none;
}

@media (max-width: 480px) {
    .view-filter.show {
        display: none;
    }
    .main-game-container {
        flex-direction: column-reverse;
        margin-left: 1.4rem;
        margin-top: 2rem;
    }

    .game-cards {
        width: 100%;
    }

    .game-card {
        width: calc(50% - 10px) !important;
        margin: 5px 0px 10px;
    }

    .block_right_info {
        width: 90%;
    }

    .slider {
        display: none;
    }

    .toggle-button {
        display: block;
        margin: 10px;
        padding: 8px 16px;
        border: none;
        background-color: transparent;
        color: #3F53BE;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        position: relative;
    }

    .toggle-button:before {
        content: "";
        position: absolute;
        top: 40%;
        left: 0;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 2px;
        border-radius: 10px;
        background-color: #3F53BE;
        box-shadow:
                0 5px 0 0 #3F53BE,
                0 10px 0 0 #3F53BE;
    }.main-game-container {
         display: flex;
         gap: 20px;
         margin-top: 5rem;
         margin-left: 5rem;
         width: 100%;
     }

    .block_left_info {
        flex: 3;
        overflow: auto;

    }

    .game-cards-wrapper {
        width: 100%;
    }

    .game-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .game-card {
        overflow: hidden;
        margin: 5px 5px 10px;
    }

    .game-card img {
        width: 90%;
        height: auto;
        display: block;
        border-radius: 15px;

    }

    .block_right_info {
        flex: 1;
        margin-right: 10rem;
    }

    .filter-sidebar {
        padding: 20px;
        border: 1px solid #ebebeb;
        border-radius: 8px;
    }

    .search-container {
        position: relative;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .search-input {
        width: 100%;
        padding: 20px 40px 20px 20px;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
    }

    .search-icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        color: #888;
        font-size: 16px;
        pointer-events: none;
    }

    .providers, .game-groups, .sorting, .columns, .game-amount {
        margin-bottom: 20px;
    }

    .provider-list, .group-list, .sort-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .provider, .group, .sort-option {
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .provider.active, .group.active, .sort-option.active {
        background-color: #FDBC11;
    }

    .search-input::placeholder {
        font-size: 16px;
    }

    .range-slider-container {
        position: relative;
        width: 100%;
        margin-top: 20px;
    }

    .column-slider {
        width: 100%;
    }

    .range-labels {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: -25px;
    }

    .label {
        font-size: 12px;
    }

    .reset-button {
        padding: 10px;
        border: none;
        background: white;
        cursor: pointer;
        color: #808080;
        font-size: 16px;
        transition: all 0.3s ease;

    }

    p {
        color: #808080;
    }

    .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .range-slider-container {
        position: relative;
        width: 300px;
    }

    .column-slider {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        height: 8px;
        background: #f1c40f;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .column-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        background: #e67e22;
        cursor: pointer;
        border-radius: 50%;
    }

    .column-slider::-moz-range-thumb {
        width: 24px;
        height: 24px;
        background: #e67e22;
        cursor: pointer;
        border-radius: 50%;
    }

    .labels {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: -25px;
        pointer-events: none;
    }

    .label {
        font-size: 14px;
        position: absolute;
        width: 24px;
        text-align: center;
        transform: translateX(-50%);
    }

    .reset-button:hover {
        color: black;
    }

    .toggle-button {
        display: none;
    }

    @media (max-width: 480px) {
        .view-filter.show {
            display: none;
        }
        .main-game-container {
            flex-direction: column-reverse;
            margin-left: 1.4rem;
            margin-top: 2rem;
        }

        .game-cards {
            width: 100%;
        }

        .game-card {
            width: calc(50% - 10px) !important;
            margin: 5px 0px 10px;
        }

        .block_right_info {
            width: 90%;
        }

        .slider {
            display: none;
        }

        .toggle-button {
            display: block;
            margin: 10px;
            padding: 8px 16px;
            border: none;
            background-color: transparent;
            color: #3F53BE;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            position: relative;
        }

        .toggle-button:before {
            content: "";
            position: absolute;
            top: 40%;
            left: 0;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 2px;
            border-radius: 10px;
            background-color: #3F53BE;
            box-shadow:
                    0 5px 0 0 #3F53BE,
                    0 10px 0 0 #3F53BE;
        }
        .filter-sidebar {
            padding: 20px 20px 0;
        }
    }

}
