body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

}

.navbar-logo {
    margin-left: 5rem;
    padding: 0;
}

.image-logo {
    width: 5rem;
    height: auto;
    display: block;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 5rem;
    padding: 0;
}

.navbar-links li {
    display: flex;
    align-items: center;
}

.navbar-links li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.125rem;
    margin-left: 0.5rem;
}

.image-avatar {
    width: 1.2rem;
    border-radius: 50%;
}

@media (max-width: 480px) {
    .navbar {
        box-shadow: none;
        padding: 1rem;
        width: 90%;
    }
    .image-logo {
        width: 4.3rem;
        height: auto;
    }
    .navbar-logo {
        margin-left: 1rem;
    }
    .navbar-links {
        margin: 0;
    }
    .navbar-links li a {
        font-size : 1rem
    }
}

