.step-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23rem;
    margin: 20px auto;
    position: relative;
}

.step {
    background-color: #F2F2F2;
    color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.line-container {
    position: absolute;
    top: 25%;
    left: 15px;
    right: 15px;
    height: 0.9rem;
    z-index: 0;
    background-color: #F2F2F2;
}

.line {
    height: 0.9rem;
    background-color: #FDBC11;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.step.active {
    background-color: #FDBC11;
}

@media (max-width: 480px) {
    .step-indicator{
        display: none;
    }

}
